@font-face {
	font-family: CooperHewitt-Medium;
	src: url('/fonts/CooperHewitt-Medium.otf'), format('otf');
}

@font-face {
	font-family: CooperHewitt-Bold;
	src: url('/fonts/CooperHewitt-Bold.otf'), format('otf');
}

body,
html {
	height: 100%;
	font-family: CooperHewitt-Medium, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #f9f9f9;
}

main {
	min-height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
}
